/* Error: From line 9, column 5 of scss\general\_grid.scss: 
 *   ╷
 * 9 │     .col {
 *   │     ^^^^^
 *   ╵
 * You may not @extend selectors across media queries.
 *    ,
 * 21 |                         @extend .col;
 *    |                         ^^^^^^^^^^^^
 *    '
 *   scss\general\_grid.scss 21:25  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: From line 9, column 5 of scss\\general\\_grid.scss: \a   \2577 \a 9 \2502      .col {\d\a   \2502      ^^^^^\a   \2575 \aYou may not @extend selectors across media queries.\a    \2577 \a 21 \2502                          @extend .col;\d\a    \2502                          ^^^^^^^^^^^^\a    \2575 \a   scss\\general\\_grid.scss 21:25  root stylesheet";
}
