* {
    font-family: $main-font;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    .links_container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            li {
                margin: 0 2rem;
                font-weight: bold;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}