* {
    font-family: $main-font;
}

body {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

h2 {
    text-transform: uppercase;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    .formatting {
        h2 {
            font-size: 42px;
        }
    }
}

.content_container {
    height: min-content;
    box-sizing: border-box;
}

.box {
    &-green {
        background-color: $main-green;
    }
    &-light-green {
        background-color: $secondary-green;
    }
    &-orange {
        background-color: $accent-1;
    }
    &-yellow {
        background-color: $accent-2;
    }
}

@mixin btn-theme($theme: $main-green) {
    font-size: 16px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    padding: 1.2rem 2rem;
    display: block;
    box-sizing: border-box;
    text-align: center;
    min-width: 150px;
    max-width: 200px;
    border-width: 4px;
    position: relative;
    transition: all 0.3s ease;
    background-color: $theme;
    border-color: $theme;
    text-decoration: none;
    &:hover {
        background-color: darken($theme, 5%);
    }
    &:active {
        background-color: darken($theme, 10%);
    }

}

.btn {
    @include btn-theme;
    &-green {
        @include btn-theme($main-green);
    }
    &-light-green {
        @include btn-theme($secondary-green);
    }
    &-orange {
        @include btn-theme($accent-1);
    }
    &-yellow {
        @include btn-theme($accent-2);
    }
}