.footer {
    background-size: cover;
    background-position: center;
    position: relative;
    .footer_row {
        box-sizing: border-box;
        padding: 4rem 8rem 8rem;
        color: white;
        @media screen and (max-width: 992px) {
            padding: 4rem;
        }
        h3 {
            font-size: 64px;
        }
        h4 {
            font-size: 28px;
        }
        $grid-points: 12, 10, 8, 6, 4, 3 ,2;
        .col {
            @each $grid-point in $grid-points {
                &-#{$grid-point} {
                    box-sizing: border-box;
                    padding: 0 2rem;
                    z-index: 2;
                    p {
                        a {
                            color: white;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .black-filter {
            background-color: rgba(#000000, 0.3);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        .eu-horizon {
            display: flex;
            align-items: center;
            margin-top: 1rem;
            h4 {
                font-size: 20px;
            }
        }
        .socials {
            z-index: 4;
            display: flex;
            margin-right: 1rem;
            a {
                background-color: white;
                border-radius: 100%;
                margin-right: 0.8rem;
                height: 60px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover {
                    background-color: $main-green;
                }
                &:hover i {
                    color: white;
                }
                &:active {
                    background-color: lighten($main-green, 5%);
                }
                i {
                    font-size: 36px;
                    color: $main-green;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}