$grid-points: 12, 6, 4 ,2;

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content;
    height: 100%;
    .col {
        height: fit-content;
        @each $grid-point in $grid-points {
            &-#{$grid-point} {
                @extend .col;
                grid-column: auto / span #{$grid-point};
            }
        }
        @media screen and (max-width: 576px) {
            &-xs {
                @each $grid-point in $grid-points {
                    &-#{$grid-point} {
                        @extend .col;
                        grid-column: auto / span #{$grid-point};
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            &-small {
                &-12 {
                    grid-column: auto / span 12;
                }
                &-6 {
                    grid-column: auto / span 6;
                }
                &-4 {
                    grid-column: auto / span 4;
                }
                &-2 {
                    grid-column: auto / span 2;
                }
            }
        }
        @media screen and (min-width: 1200px) {
            &-xl {
                &-12 {
                    grid-column: auto / span 12;
                }
                &-6 {
                    grid-column: auto / span 6;
                }
                &-4 {
                    grid-column: auto / span 4;
                }
                &-2 {
                    grid-column: auto / span 2;
                }
            }
        }
    }
}