.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .col-xl {
        &-12 {
            grid-column: auto / span 12;
        }
        &-6 {
            grid-column: auto / span 6;
        }
        &-4 {
            grid-column: auto / span 4;
        }
        &-2 {
            grid-column: auto / span 2;
        }
    }
    @media screen and (max-width: 576px) {
        .col-small {
            &-12 {
                grid-column: auto / span 12;
            }
            &-6 {
                grid-column: auto / span 6;
            }
            &-4 {
                grid-column: auto / span 4;
            }
            &-2 {
                grid-column: auto / span 2;
            }
        }
    }
    @media screen and (max-width: 576px) {
        .col {
            &-12 {
                grid-column: auto / span 12;
            }
            &-6 {
                grid-column: auto / span 6;
            }
            &-4 {
                grid-column: auto / span 4;
            }
            &-2 {
                grid-column: auto / span 2;
            }
        }
    }
}