$grid-points: 12, 10, 8, 6, 4, 3 ,2;

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content;
    height: 100%;
    box-sizing: border-box;
    .col {
        @each $grid-point in $grid-points {
            &-#{$grid-point} {
                @extend .col;
                grid-column: auto / span #{$grid-point};
            }
        }
        @media screen and (min-width: 1200px) {
            &-xl {
                @each $grid-point in $grid-points {
                    &-#{$grid-point} {
                        @extend .col-xl;
                        grid-column: auto / span #{$grid-point};
                    }
                }
            }
        }
        @media screen and (max-width: 1200px) {
            &-large {
                @each $grid-point in $grid-points {
                    &-#{$grid-point} {
                        @extend .col-large;
                        grid-column: auto / span #{$grid-point};
                    }
                }
            }
        }
        @media screen and (max-width: 992px) {
            &-md {
                @each $grid-point in $grid-points {
                    &-#{$grid-point} {
                        @extend .col-md;
                        grid-column: auto / span #{$grid-point};
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            &-small {
                @each $grid-point in $grid-points {
                    &-#{$grid-point} {
                        @extend .col-small;
                        grid-column: auto / span #{$grid-point};
                    }
                }
            }
        }
        @media screen and (max-width: 576px) {
            &-xs {
                @each $grid-point in $grid-points {
                    &-#{$grid-point} {
                        @extend .col-xs;
                        grid-column: auto / span #{$grid-point};
                    }
                }
            }
        }
    }
}