@mixin btn($left, $top) {
    width: 60px;
    height: 60px;
    top: $top;
    left: $left;
    position: relative;
    transition-duration: 0.5s;
}

@mixin icon($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 30px;
    background-color: $secondary-green;
}

@mixin icon-before($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $secondary-green;
    content: "";
    top: $top;
}

@mixin icon-after($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $secondary-green;
    content: "";
    top: $top;
}

@mixin icon-circle($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 2px;
    border-radius: 100%;
    background: transparent;
    border: 4px solid black;
    left: -15px;
}

.burger_btn{
    @include btn(0, 0);

    .icon {
        @include icon(5px, 45px);
        
        &:before{
        @include icon-before(5px, 45px, -10px);
        }
        
        &:after{
        @include icon-after(5px, 45px, 10px);
        }
    }

    &.open {
        .icon {
        transition-duration: 0.5s;
        background: transparent;
        
        &:before{
            transform: rotateZ(45deg) scaleX(1.1) translate(5px, 8px);
        }

        &:after{
            transform: rotateZ(-45deg) scaleX(1.1) translate(5px, -8px);
        }
        }
    }
    &:hover {
        cursor: pointer;
    }
}