nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #ffffff;
    z-index: 3;
    @media screen and (max-width: 1076px) {
        flex-direction: column;
    }
    .links_container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        max-height: fit-content;
        transition: all 0.4s cubic-bezier(.76,.02,.39,1.04);
        @media screen and (max-width: 1288px) {
            font-size: 18px;
        }
        @media screen and (max-width: 768px) {
            max-height: 0px;
            overflow: hidden;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: 0;
            @media screen and (max-width: 886px) {
                flex-wrap: wrap;
            }
            li {
                margin: 0 2rem;
                font-weight: 500;
                @media screen and (max-width: 886px) {
                    width: 100%;
                    display: flex;
                }
                a {
                    color: $main-green;
                    text-decoration: none;
                    transition: all 0.3s ease;
                    &:hover {
                        color: lighten($main-green, 10%);
                    }
                    &:active {
                        color: darken($main-green, 10%);
                    }
                    @media screen and (max-width: 886px) {
                        width: 100%;
                        text-align: center;
                        padding: 1rem 2rem;
                    }
                }
            }
        }
    }
    .icon_container {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin: 1rem 2rem 1rem 0;
            @media screen and (max-width: 768px) {
                margin: 0;
            }
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
    .burger_btn {
        padding: 1rem;
        display: none;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-left: auto;
        @media screen and (max-width: 768px) {
            display: flex;
        }
    }
}