.single_row {
    padding: 4rem 8rem;
    justify-content: center;
    .col-12 {
        .post-title {
            font-size: 64px;
            color: $secondary-green;
        }
    }
    .col-8 {
        grid-column: 3 / span 8;
        p {
            margin: 2rem 0;
        }
    }
}