// Base variables

// Fonts
$main-font: 'Trebuchet MS', Arial, sans-serif;
$secondary-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Colors
$main: #028d5a;
$secondary: #8a5838;
$accent-1: #d7cec5;
$accent-1-light: lighten($accent-1, 15%);
$accent-2: #0a4029;