@use "sass:math";

$marquee-width: 100%;
$marquee-height: fit-content;
$marquee-elements-displayed: 3;
$marquee-element-width: math.div($marquee-width, $marquee-elements-displayed);

.activities_row {
    padding: 4rem 8rem;
    overflow: hidden;
    .title-wrapper {
        h2 {
            font-size: 64px;
            color: white;
        }
    }
    .kiosk {
        position: relative;
        .kiosk-container {
            width: $marquee-width;
            height: $marquee-height;
            overflow: hidden;
            position: relative;
            &::before, &::after {
                position: absolute;
                width: 2rem;
                top: 0;
                height: 100%;
                content: "";
                z-index: 1;
            }
            &::before {
                left: 0;
                background: linear-gradient(to right, $main-green, transparent 100%);
            }
            &::after {
                right: 0;
                background: linear-gradient(to left, $main-green, transparent 100%);
            }
            .kiosk-activities {
                list-style: none;
                height: 100%;
                display: flex;
                flex-wrap: nowrap;
                margin: 0;
                padding: 0;
                overflow: hidden;
                li {
                    transition: all 0.4s ease;
                    min-width: $marquee-element-width;
                }
                .activity {
                    .activity-wrapper {
                        width: 100%;
                        padding: 0 1rem;
                        box-sizing: border-box;
                    }
                }
            }
        }
        .prev, .next {
            position: absolute;
            top: calc(50%);
            transform: translateY(-50%);
            z-index: 1;
            font-size: 64px;
            color: white;
            cursor: pointer;
            user-select: none;
        }
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }
    }
}

.hidden {
    display: none;
}