@use "sass:math";

$marquee-width: 100%;
$marquee-height: fit-content;
$marquee-elements-displayed: 3;
$marquee-element-width: math.div($marquee-width, $marquee-elements-displayed);

:root {
    --marquee-width: 100%;
    --marquee-height: fit-content;
    --marquee-elements-displayed: 3;
    --marquee-elements-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    @media screen and (max-width: 992px) {
        --marquee-elements-displayed: 1;
        --marquee-elements-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    }
}

.activities_row {
    padding: 4rem 8rem;
    overflow: hidden;
    @media screen and (max-width: 992px) {
        padding: 2rem 4rem;
    }
    .title-wrapper {
        h2 {
            font-size: 64px;
            color: white;
        }
    }
    .kiosk {
        position: relative;
        .kiosk-container {
            width: $marquee-width;
            height: $marquee-height;
            overflow: hidden;
            position: relative;
            &::before, &::after {
                position: absolute;
                width: 2rem;
                top: 0;
                height: 100%;
                content: "";
                z-index: 1;
            }
            &::before {
                left: 0;
                background: linear-gradient(to right, $main-green, transparent 100%);
            }
            &::after {
                right: 0;
                background: linear-gradient(to left, $main-green, transparent 100%);
            }
            .kiosk-activities {
                list-style: none;
                height: 100%;
                display: flex;
                flex-wrap: nowrap;
                margin: 0;
                padding: 0;
                overflow: hidden;
                li {
                    transition: all 0.4s ease;
                    min-width: var(--marquee-elements-width);
                    max-width: var(--marquee-elements-width);
                }
                .activity {
                    .activity-container {
                        width: 100%;
                        height: 100%;
                        padding: 0 2rem;
                        box-sizing: border-box;
                        .activity-wrapper {
                            width: 100%;
                            box-sizing: border-box;
                            background-color: $secondary-green;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            .activity-image-container {
                                height: 350px;
                                width: 100%;
                                .activity-image {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    user-select: none;
                                }
                            }
                            .activity-text-container {
                                padding: 2rem;
                                color: white;
                                h4 {
                                    margin-top: 0;
                                    font-size: 24px;
                                }
                                p {
                                    font-size: 18px;
                                }
                            }
                            .activity-link {
                                padding: 0 2rem 2rem;
                                text-align: right;
                                margin-top: auto;
                                a {
                                    color: white;
                                    font-size: 24px;
                                    font-weight: bold;
                                    transition: all 0.3s ease;
                                    &:hover {
                                        color: darken(white, 10%);
                                    }
                                    &:active {
                                        color: darken(white, 20%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .prev, .next {
            position: absolute;
            top: calc(50%);
            transform: translateY(-50%);
            z-index: 1;
            font-size: 82px;
            color: white;
            cursor: pointer;
            user-select: none;
        }
        .prev {
            left: -30px;
        }
        .next {
            right: -30px;
        }
    }
}

.hidden {
    display: none;
}