.slide-container {
    min-height: 50vh;
    height: 80vh;
    display: flex;
    overflow: hidden;
    position: relative;
    .slide {
        display: flex;
        position: absolute;
        width: 100%;
        min-height: 100%;
        transition: all 0.7s ease;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            user-select: none;
        }
        .slide-text-container {
            width: 80%;
            margin: auto 3rem 3rem 3rem;
            color: white;
            h2 {
                color: white;
                font-size: 64px;
                margin-bottom: 1rem;
                text-transform: none;
            }
            p {
                font-size: 24px;
            }
        }
    }
    .pips {
        display: flex;
        width: auto;
        position: absolute;
        right: 3rem;
        bottom: 3rem;
        color: white;
        transition: all ease 0.3s;
        .pip {
            width: 30px;
            height: 30px;
            background-color: none;
            border-radius: 50px;
            border: solid 3px;
            margin: 5px;
            transition: all ease 0.5s;
            cursor: pointer;
        }
        .activePip {
            background-color: white;
        }
    }
    .prev, .next  {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        transform: translateY(-50%);
        padding: 16px 2rem;
        color: white;
        font-weight: bold;
        font-size: 52px;
        transition: 0.4s ease;
        border-radius: 0 5px 5px 0;
        user-select: none;
    }
    
    .next {
        right: 0;
        border-radius: 5px 0 0 5px;
    }

    /* Creates black boxes around the arrows for easier visibility when hovering */
    .prev:hover, .next:hover {
        background-color: rgba(68, 113, 92, 0.5);
        color: white;
        text-decoration: none;
    }
}