.full-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    color: white;
    .full-text-wrapper {
        h2 {
            font-size: 64px;
        }
        p {
            font-size: 18px;
        }
    }
}