.full-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    color: white;
    @media screen and (max-width: 992px) {
        padding: 4rem;
    }
    .full-text-wrapper {
        font-size: 18px;
        h2 {
            margin-top: 0;
            font-size: clamp(1rem, 42px, 64px);
        }
    }
}