.full-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    color: white;
    .full-text-wrapper {
        font-size: 18px;
        h2 {
            margin-top: 0;
            font-size: clamp(1rem, 64px, 3rem);
        }
    }
}