.text_and_picture {
    height: 100%;
    min-height: 100%;
    .sponsor_container {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 480px;
            width: 480px;
            object-fit: cover;
        }
    }
}