.text_and_picture {
    height: 100%;
    min-height: 100%;
    .picture_container,
    .text_container {
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .text {
            padding: 8rem;
            h2 {
                font-size: 64px;
                margin-top: 0;
                color: $secondary-green;
                margin-bottom: 1rem;
            }
            p {
                font-size: 18px;
                font-weight: lighter;
            }
        }
    }
}