.testimonial_row {
    width: 100%;
    box-sizing: border-box;
    padding: 4rem 8rem;
    @media screen and (max-width: 992px) {
        padding: 4rem 4rem;
    }
}

.testimonials_container {
    .title-wrapper {
        h2 {
            margin-top: 0;
            font-size: 64px;
            color: white;
        }
    }
    .testimonial_container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        @media screen and (max-width: 992px) {
            margin-bottom: 3rem;
        }
        @media screen and (max-width: 576px) {
            margin-bottom: 5rem;
        }
        .testimonial_wrapper {
            width: 90%;
            .testimonial_portrait {
                height: auto;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .text_container {
                color: white;
                padding: 2rem;
                font-size: 18px;
                h4 {
                    margin-top: 0;
                    font-size: 24px;
                }
            }
        }
    }
}